:root{
    --bookBtnTime:3s;
    --navWidth:300px;
    --yellow:rgb(214, 210, 174);
    --yellow2:rgb(255, 252, 235);
}
.address{text-align: center;font-size:13px;width:250px;}
body{background-color:var(--yellow2); font-family: 'Inter', sans-serif;margin:0;}
/* font-family: 'Playfair Display', serif; */
.bookBorder1{left:10px;}
.bookBorder1::after{animation:bookOnlineTop var(--bookBtnTime) infinite;}
.bookBorder1::after,.bookBorder3::after{
    width:100%;
    background-color:black;
    content:'';
    display: block;
    position:absolute;
    height:100%;
}
.bookBorder1,.bookBorder2,.bookBorder3,.bookBorder4{background-color: rgb(214, 210, 181);overflow: hidden;transition:0.3s linear;}
.bookBorder1,.bookBorder3{height:60px;position: absolute;top:10px;width:1px;}
.bookBorder2{top:10px;}
.bookBorder2::after,.bookBorder4::after{background-color:black;content:'';display: block;height:100%;position:absolute;width:100%;}
.bookBorder2::after{animation:bookOnlineLeft var(--bookBtnTime) infinite;animation-delay:0.8s;left:-290px;}
.bookBorder2,.bookBorder4{height:1px;left:10px;position: absolute;width:280px;}
.bookBorder3{right:10px;}
.bookBorder3::after{animation:bookOnlineBottom var(--bookBtnTime) infinite;animation-delay: 2.5s;top:-60px;}
.bookBorder4{bottom:10px;}
.bookBorder4::after{animation:bookOnlineRight var(--bookBtnTime) infinite;animation-delay: 3.3s;left:280px;}
.bookOnlineBtn{
    background-color: var(--yellow2);
    border: none;
    font-size:12px;
    height:80px;
    letter-spacing: 4px;
    margin:60px 0px 0px 0px;
    position:relative;
    width:var(--navWidth);
}
button:hover{opacity:0.93;}
.followContainer{
    align-items: end;
    display: flex;
    flex-direction: column;
    height:70px;
    overflow: hidden;
    position: absolute;
    right:20px;
    top:20px;
    transition: 1s;
    width: 70px;
    z-index: 6;
}
.followContainer:hover{height:230px;width:350px;}
.followImage{height:70px;rotate:45deg;transition: 1s;}
.followImageContainer{background-color: rgb(190, 139, 0); height:70px;opacity:0.5;transition: 0.3s; width:70px;}
.followImageContainer:hover{opacity:1;}
.followImage:hover{rotate: 270deg;}
.followRightArrow{font-size:30px;margin:0px;transition: 0.4s;}
.followRightArrow:hover{transform: translateX(5px);}
.followTexts{background-color: var(--yellow);font-size: 14px;margin:30px 0px 0px 0px;padding:20px;text-align: center;width:300px;}
.followTexts h3{margin:0;}
.foodHero{
    height:100vh;
    max-width: 100%;
    overflow: hidden;
    overscroll-behavior-y: contain;
    position: relative;
    width:100vw;
    z-index: 4;
}
.foodImage{animation: zoomOut 5s;filter: brightness(65%);height:100%;object-fit: cover; position: absolute;width:100%;}
.foodText{
    animation: topDown 1.3s;
    bottom:280px;
    font-size: 50px;
    color:white;
    left:360px;
    position:absolute;
    z-index: 5;
}
.foodTitle{margin:0;}
.foodSubtitle{font-size:40px;margin:0px 30px;}
footer{
    align-items: center;
    display: flex;
    justify-content:center;
    margin:0px 0px 0px 300px;padding:30px;}
.footerButton{
    background-color: var(--yellow2); 
    border:1px solid black;
    height:80px;
    letter-spacing: 2px;
    position:relative;
    transform: scale(1,0.93);
    transition: 0.3s; 
    width:330px;}
.footerButtonImage{ height:30px;left:45%; padding: 5px;position: absolute; top:-23px}
.footerButton:hover{box-shadow: 0px 0px 15px gray;}
.footerMap{
    height:400px;
    overflow: hidden; 
    position:relative; 
    rotate:45deg;
    width:400px;
}
.footerMapiframe{height:640px; position: absolute;left:-160px;rotate:-45deg;top:-150px;width: 640px;}
.footerTexts{margin:30px 0px; width:365px;}
.footerTextsContainer{margin:0px 200px 0px 0px;}
.fud1{
    align-items: center;
    background-color: white;
    display: flex;
    height:600px;
    justify-content: center;
    margin:0px 0px 0px 300px;
    padding:30px;}
.fud2{
    align-items: center;
    background-color: white;
    display: flex;
    height:820px;
    justify-content: center;
    margin:0px 0px 0px 300px;
    padding:90px;}
.fud3{
    background-color: white;
    display: flex;
    height:1220px;
    justify-content: end;
    margin:0px 0px 0px 300px;
    padding:300px 0px 100px 30px;}
.fud3Pic{height:970px;}
.fud3Pic2{height:900px;}
.fud3PicContainer{line-height: 30px;margin:100px -90px 0px 0px; width:650px;z-index: 2;}
.fud3Pic2Container{height:650px;overflow: hidden; width:650px;}
.fud4{
    align-items: center;
    background-color: white;
    display: flex;
    height:800px;
    justify-content: center;
    margin:0px 0px 0px 300px;
    padding:30px;}
.fud4Pic{height:540px;}
.fud4Pic2{ width:100px;}
.fud4Pic2Container{font-size: 14px;font-style: italic;margin:0px 0px 0px 100px; text-align: center; width:100px;}
.fud4Pics{display: grid;}
.fudParagraph1{line-height: 30px;}
.fudParagraph1Pic{height:40px;}
.fudPic1{height:310px;object-fit: cover;left:0; position:absolute;top:0;transition: 0.7s; width:405px;}
.fudPic1:hover,.traditionPic2:hover{cursor: url('restaurantweb/mouse2.png'),auto;}
.fudPic1bgPic{height:80px;}
.fudPic1Container{align-items: center; 
    display: flex; 
    height:310px;
    justify-content: center; 
    position:relative; 
    width:450px;}
.fudTexts{margin:0px 0px 0px 50px; width:280px;}
hr{display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;}
.innerSquare1,.innerSquare2,.innerSquare3,.innerSquare4{background-color: white;height:20px;scale:0;transition: 0.3s ease-in-out;width:20px;}
.link{margin:0px 0px 30px 0px;position: relative;}
.link::after{
    width:0px;
    background-color:var(--yellow);
    bottom:0;
    content:'';
    display: block;
    height:1px;
    margin:6px 0px -6px 0px;
    position:absolute;
    right:0;
    transition: 0.3s ease-in-out;
}
.link::before{
    width:0px;
    background-color:var(--yellow);
    content:'';
    display: block;
    height:1px;
    margin:-6px 0px 5px 0px;
    transition: 0.3s ease-in-out;
}
.link:hover::after{width:100%;}
.link:hover::before{width:100%;}
.link:nth-child(1),.link:nth-child(2),.link:nth-child(3),.link:nth-child(4),.link:nth-child(5){animation: navRoll 0.7s;}
.link:nth-child(2){animation-delay: 0.2s;}
.link:nth-child(3){animation-delay: 0.3s;}
.link:nth-child(4){animation-delay: 0.4s;}
.link:nth-child(5){animation-delay: 0.5s;}
.links{display:grid;text-align: center;font-size: 14px;font-weight: lighter;
}
.logoImage{margin:50px 0px 80px 0px;height:140px;width:140px;}
.menuContainer{background-color: var(--yellow2);margin:70px 0px 0px 300px;padding:80px;}
.menuDescription{font-size:13px;}
.menuItem{padding:0px 25px 0px 0px;}
.menuItem,.menuPrice{letter-spacing: 1px;}
.menuItemContainer{font-size:14px;opacity:0;transform: translateY(-25px);transition: 0.3s;}
.menuItemPrice{display: flex;justify-content: space-between;width:100%;}
.menuItemPrice p {margin:0;}
.menuItems{display: grid;gap:25px 50px;grid-template-columns: 1fr 1fr 1fr;}
.menuNav{
    background-color: white;
    /* top:450px; */
    color:black;
    display: flex;
    font-size:15px;
    /* left:-210px; */
    bottom:0;
    left:355px;
    justify-content: center;
    position: fixed;
    rotate:-90deg;
    transform-origin: bottom left;
    transition: 0.2s;
    width:100vh;
    z-index: 2;
}
.menuNavItem{letter-spacing: 3px; margin:0;padding:20px 40px;}
.menuSubtitle{
    border-bottom: 2px solid black;
    font-weight: 100;
    margin:60px 0px 20px 0px;
    padding:0px 0px 10px 0px;
}
.menuTitle{font-size:33px;letter-spacing: 4px;margin:30px 0px 100px 0px;}
.navig{
    align-items: center;
    background-color: rgb(47, 47, 47);
    color:var(--yellow);
    display: flex;
    flex-direction: column;
    height:100vh;
    position:fixed;
    width:var(--navWidth);
    top:0;
    transition:0.2s;
    left:0;
    z-index:100;
}
.phone{color:rgb(196, 150, 0);margin:0;}
.scrolledThrough{transform: translateY(0px);opacity: 1;}
.square{
    align-items: center;
    border:1px solid white;
    display: flex;
    height:30px;
    justify-content: center;
    margin:0px 30px 0px 0px;
    width:30px;
    rotate: 45deg;
}
.square:hover::after{scale:1;}
.squares{bottom:100px;display: flex;left:400px;position:absolute;width:300px;z-index: 90;}
.socialContainer{margin:100px 0px 0px 0px;}
.socialImage{height:33px;}
.socialImage:hover{filter: brightness(40%);}
.socialImage:nth-child(1){margin:0px 10px 0px 0px;}
.traditionPic{width:300px}
.traditionPicContainer{font-size: 13px;font-style: italic;margin:0px 120px 0px 0px;  text-align: center; width:300px;}
.traditionPic2{height:780px;object-fit: cover;transition: 0.6s; width:590px;}
.traditionPic2Container{line-height: 30px; text-align: center; width:590px;}
@keyframes bookOnlineBottom {0%{top:-70px}100%{top:60px;}}
@keyframes bookOnlineLeft {0%{left:-270px}100%{left:280px;}}
@keyframes bookOnlineRight {0%{left:280px}100%{left:-290px;}}
@keyframes bookOnlineTop {0%{top:60px}100%{top:-70px;}}
/*food pics*/
@keyframes comeFromLeft {0%{left:105vw;scale:1.1}27%{left:0;scale:1.1}100%{scale:1}}
@keyframes navRoll {0%{opacity: 0.1;transform: translateY(-25px);}100%{opacity: 1;transform: translateY(0px);}}
@keyframes topDown {
    0%{opacity: 0;transform: translateY(-30px);}
    100%{opacity: 1;transform: translateY(0px);}}
@keyframes zoomOut {0%{scale:1.1}100%{scale:1}}
@media screen and (max-width:1425px) {
    footer{flex-direction: column;text-align: center;}
    .footerTextsContainer{margin:0px 0px 140px 0px;padding:20px;}
    .fud3{padding:300px 0px 100px 30px;}
    .fud3Pic{height:620px;}
    .fud3Pic2{height:600px;}
    .fud3PicContainer{line-height: 30px;margin:100px -90px 0px 0px; width:500px;z-index: 2;}
    .fud3Pic2Container{height:500px;overflow: hidden; width:500px;}}
@media screen and (max-width:1330px) {
    .traditionPic{width:200px;}
    .traditionPic2{height:580px;object-fit: cover;transition: 0.6s; width:390px;}
    .traditionPicContainer{margin:0px 50px 0px 0px; width:200px;}}
@media screen and (max-width:1280px) {
    .menuItems{grid-template-columns: 1fr 1fr;}
    .squares{bottom:20px;justify-content: center; left:20px;max-width: 100%; width:100vw;}}
@media screen and (max-width:1025px) {
    .followContainer{right:5px;top:75px;}
    .foodText{bottom:35%;font-size: 34px;left:13%;}
    .fud1{padding:0;}
    footer,.fud1,.fud2,.fud3,.fud4{margin:0;}
    .fudPic1Container{z-index: 2;}
    .fudTexts{ margin:0px;text-align: center; width:280px;}
    .menuContainer{margin:70px 0px 0px 0px;padding: 20px;}}
@media screen and (max-width:775px) {
    .footerMap{height:300px;width:300px;}
    .fud3Pic{height:570px;}
    .fud3Pic2{height:600px;}
    .fud3PicContainer{line-height: 30px;margin:100px 0px 0px 0px; width:380px;z-index: 2;}
    .fud3Pic2Container{height:380px;overflow: hidden; width:380px;}
    .fud1,.fud2,.fud3,.fud4{flex-direction: column;}
    .fud4Pic{margin:0px 0px 100px 0px;}
    .traditionPicContainer{margin:0;}
    .traditionPic2{width:340px;}
    .traditionPic2Container{width:340px;}
}
@media screen and (max-width:560px) {
    .menuItems{gap:30px 30px; grid-template-columns: 1fr;}
    .menuNavItem{letter-spacing: normal;padding:20px 20px;}
    .menuNavItem:hover{border-bottom:3px solid orange;padding:20px 20px 17px 20px;}}
@media screen and (max-width:470px) {
    .footerMap{height:200px;width:200px;}
    .footerMapiframe{height:500px;left:-140px; width:400px;}
    .footerTexts{width:350px;}
    .footerTextsContainer{margin:0px 0px 70px 0px;padding:5px;}
    .fud3{padding:300px 10px 100px 10px;}
    .fud3Pic{height:470px;}
    .fud3Pic2{height:500px;}
    .fud3PicContainer{line-height: 30px;margin:100px 0px 0px 0px; width:300px;z-index: 2;}
    .fud3Pic2Container{height:350px;overflow: hidden; width:350px;}
    .fud4Pic{height:450px;margin:0px 0px 200px 0px;}
    .fudPic1{height:210px;width:365px;}
    .fudPic1Container{align-items: center; 
    display: flex; 
    height:210px;
    justify-content: center; 
    position:relative; 
    width:365px;}
    .traditionPicContainer{margin:0;}
    .traditionPic2{width:320px;}
    .traditionPic2Container{width:320px;}
}