<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='digitalbrand.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
    <!--google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Flex:opsz,wght@8..144,400;8..144,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Brand</title>
</head>
<body>
    <div class="heroSection">
        <section class="nav">
            <h1 class="brand">digitalbrand</h1>
            <nav class="links">
                <a class="link">Home</a>
                <a class="link">Pricing</a>
                <a class="link">About Us</a>
                <a class="link">Amenities</a>
                <a class="link">Services</a>
                <a class="link">Contact</a>
            </nav>
        </section>
        <div class="heroSectionContainer">
            <section class="heroTexts">
                <h1 class="heroTitle">Create Amazing <span class="digitalBrandsText">&nbsp;Digital Brands&nbsp;</span> to Meet Your Needs</h1>
                <h3 class="heroDescription">Build a strong digital presence online.</h3>
                <div class="heroButtons">
                    <button class="getStartedButton">Get Started</button>
                    <button class="contactUsButton">Contact Us</button>
                </div>
            </section>
        </div>
        <img class="suppliesPicture" src="{{url_for('static', filename='digitalbrandweb/supplies.png')}}">
        <img class="deskPicture" src="{{url_for('static', filename='digitalbrandweb/desk.png')}}">
    </div>
    <section class="perksSectionContainer">
        <div class="perksContainer">
            <img class="perksImage" src="{{url_for('static', filename='digitalbrandweb/recycle.png')}}">
            <h3 class="perksText">Brand Marketing</h3>
        </div>
        <div class="perksContainer">
            <img class="perksImage" src="{{url_for('static', filename='digitalbrandweb/organizer.png')}}">
            <h3 class="perksText">Organizer</h3>
        </div>
        <div class="perksContainer">
            <img class="perksImage" src="{{url_for('static', filename='digitalbrandweb/to-do-list.png')}}">
            <h3 class="perksText">Task Navigator</h3>
        </div>
        <div class="perksContainer">
            <img class="perksImage" src="{{url_for('static', filename='digitalbrandweb/support.png')}}">
            <h3 class="perksText">Technical Settings</h3>
        </div>
        <div class="perksContainer"> 
            <img class="perksImage" src="{{url_for('static', filename='digitalbrandweb/star.png')}}">
            <h3 class="perksText">Google Analytics</h3>
        </div>
    </section>
    <section class="onlinePresenceContainer">
        <h1 class="onlinePresenceTitle">Boost Your Online Brand with Our Range of Effective Strategies</h1>
        <p class="onlinePresenceTexts">We offer a wide range of services to help you build a strong brand online, from website design and 
            development to social media marketing and search engine optimization. With our help, you can establish 
            a strong and recognizable brand that stands out in today’s crowded online marketplace. Our approach is 
            tailored to your specific needs, ensuring that you get the results you are looking for.</p>
    </section>
    <section class="servicesContainer">
        <div class="serviceContainer">
            <img class="serviceImage" src="{{url_for('static', filename='digitalbrandweb/people.png')}}">
            <h3>24 Hrs Access</h3>
            <p>Get the help you need anytime, day or night, with our 24-hour services.</p>
        </div>
        <div class="serviceContainer">
            <img class="serviceImage" src="{{url_for('static', filename='digitalbrandweb/people.png')}}">
            <h3>Brand Design</h3>
            <p>Elevate your brand with the help of our expert design services that combine creativity and strategy.</p>
        </div>
        <div class="serviceContainer">
            <img class="serviceImage" src="{{url_for('static', filename='digitalbrandweb/people.png')}}">
            <h3>Content Marketing</h3>
            <p>Drive more traffic, engage your audience, and biuld your brand with our strategic marketing solutions.</p>
        </div>
    </section>
    <section class="dontSettleContainer">
        <div class="brandingTextsAndImages">
            <img class="brandingImage" src="{{url_for('static', filename='digitalbrandweb/branding1.jpg')}}">
            <img class="brandingImage" src="{{url_for('static', filename='digitalbrandweb/branding2.jpg')}}">
            <div class="brandingTexts">
                <h1 class="brandingTitle">Don't settle for mediocre branding.</h1>
                <p>Let us help you take your brand to the next level. Contact us today to learn more about 
                    how we can help you achieve your goals.</p>
                <button class="getStarted2Button">Get Started &rarr;</button>
            </div>
        </div>
    </section>
    <div class="zeroToHeroMainContainer">
        <section class="zeroToHeroContainer">
            <h1 class="zeroToHeroTitle">Build your digital brand from zero to hero.</h1>
            <div class="checksContainer">
                <span class="checkContainer">&check;</span>
                <p class="checkText">Create your amazing digital brand.</p>
                <span class="checkContainer">&check;</span>
                <p class="checkText">Add your amazing ideas.</p>
                <span class="checkContainer">&check;</span>
                <p class="checkText">Able to use all the new features.</p>
            </div>
            <button class="learnMoreButton">Learn More &rarr;</button>
        </section>
        <div class="mainBrand1Container">
            <img class="branding3Image" src="{{url_for('static', filename='digitalbrandweb/branding3.jpg')}}">
            <div class="mainBrand1Caption">
                <img class="mainBrand1Image" src="{{url_for('static', filename='digitalbrandweb/toolbox.png')}}">
                <div>
                    <h4>All the best digital features</h4>
                    <p>Transform your brand online with our comprehensive digital branding features.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="mainBrand2Container">
        <div class="branding4Caption">
            <img class="branding4Image" src="{{url_for('static', filename='digitalbrandweb/branding4.jpg')}}">
            <div class="branding4ExtraCaption">
                <img class="mainBrand1Image" src="{{url_for('static', filename='digitalbrandweb/toolbox.png')}}">
                <div>
                    <h4>Digital brand impression</h4>
                    <p>Don't settle for less - let us help you create a digital impression that truly stands out.</p>
                </div>
            </div>
        </div>
        <section class="branding4Texts">
            <h1 class="zeroToHeroTitle">Make a lasting impression with your digital brand.</h1>
            <p class="branding4Description">The impression you make on your audience can make all the difference in the success of your brand. 
                That is why it is crucial to ensure that your digital branding is on point and makes the right impact. 
                At our digital branding agency, we understand the importance of creating a strong and memorable impression with your online presence.</p>
            <button class="learnMoreButton">Learn More &rarr;</button>
        </section>
    </section>
    <section class="awardsMainContainer">
        <h1 class="awardsTitle"><span class="awardsHighlightText">&nbsp;Achieve&nbsp;</span> your goals with our digital branding.</h1>
        <div class="awardsContainer">
            <div class="awardContainer">
                <img class="perksImage" src="{{url_for('static', filename='digitalbrandweb/star.png')}}">
                <h3>Digital Branding Award 2023</h3>
            </div>
            <div class="awardContainer">
                <img class="perksImage" src="{{url_for('static', filename='digitalbrandweb/star.png')}}">
                <h3>Top Agency Award 2023</h3>
            </div>
            <div class="awardContainer">
                <img class="perksImage" src="{{url_for('static', filename='digitalbrandweb/star.png')}}">
                <h3>Business Standard Award 2023</h3>
            </div>
        </div>
    </section>
    <hr>
    <section class="analysisContainer">
        <h1 class="analysisTitle">Build your digital brand online presence for success.</h1>
        <div>
            <div class="analysisProgress"><span>Brand Design</span><progress class="brandBar" value="89" max="100"></progress></div>
            <div class="analysisProgress"><span>Content Marketing</span><progress class="brandBar" value="92" max="100"></progress></div>
            <div class="analysisProgress"><span>Business Analyst</span><progress class="brandBar" value="96" max="100"></progress></div>
        </div>
    </section>
    <section class="packagesContainer">
        <div class="packageContainer">
            <img class="packageImage" src="{{url_for('static', filename='digitalbrandweb/websitedesign.png')}}">
            <h1 class="packageTitle">Creative Brands</h1>
            <h3 class="subPackageText">Business A</h3>
            <button class="packageButton">View Sample</button>
        </div>
        <div class="packageContainer">
            <img class="packageImage" src="{{url_for('static', filename='digitalbrandweb/websitedesign2.png')}}">
            <h1 class="packageTitle">Creative Brands</h1>
            <h3 class="subPackageText">Business B</h3>
            <button class="packageButton">View Sample</button>
        </div>
        <div class="packageContainer">
            <img class="packageImage" src="{{url_for('static', filename='digitalbrandweb/websitedesign3.jpg')}}">
            <h1 class="packageTitle">Digital Asset</h1>
            <h3 class="subPackageText">Business C</h3>
            <button class="packageButton">View Sample</button>
        </div>
    </section>
    <section class="accomplishmentMainContainer">
        <h1 class="accomplishmentMainTitle">Discover the exceptional quality of our products.</h1>
        <div>
            <div class="accomplishmentContainer">
                <h1 class="accomplishmentStat">4,500</h1>
                <div class="accomplishmentCaption">
                    <img class="accomplishmentImage" src="{{url_for('static', filename='digitalbrandweb/verified.png')}}">
                    <h3 class="accomplishmentCategoryText">Projects Complete</h3>
                </div>
            </div>
            <div class="accomplishmentContainer">
                <h1 class="accomplishmentStat">1,600</h1>
                <div class="accomplishmentCaption">
                    <img class="accomplishmentImage" src="{{url_for('static', filename='digitalbrandweb/happy.png')}}">
                    <h3 class="accomplishmentCategoryText">Clients Satisfied</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="reviewContainer">
        <img class="reviewImage" src="{{url_for('static', filename='digitalbrandweb/businessman.jpg')}}">
        <div class="reviewTexts">
            <p class="reviewText">I'm thrilled with this product and grateful to your staff for helping us enhance our digital brand. Wish we had thought of it first!</p>
            <h3 class="reviewName">Jane Doe</h3>
            <h3 class="reviewName">Administrator</h3>
        </div>
    </section>
    <section class="buildingBrandContainer">
        <h1 class="buildingBrandTitle">Start building your <span class="brandEmphasis">&nbsp;digital brand&nbsp;</span> with us</h1>
    </section>
    <section class="packagePriceMainContainer">
        <div class="packagePriceContainer">
            <h1 class="packagePrice">Free</h1>
            <h2 class="packagePrice">$0 USD<span class="packageMonth">/MONTH</span></h2>
            <hr style="border:1px solid black;">
            <button class="packagePriceButton">Get Started</button>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>One project</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Your dashboard</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Components included</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/grayCircle.png')}}">
                <p>Advanced controls</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/grayCircle.png')}}">
                <p>Chat support</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/grayCircle.png')}}">
                <p>Unlimited users</p>
            </div>
        </div>
        <div class="packagePriceContainer">
            <h1 class="packagePrice">Standard</h1>
            <h2 class="packagePrice">$60 USD<span class="packageMonth">/MONTH</span></h2>
            <hr style="border:1px solid black;">
            <button class="packagePriceButton">Get Started</button>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>One project</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Your dashboard</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Components included</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Advanced controls</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/grayCircle.png')}}">
                <p>Chat support</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/grayCircle.png')}}">
                <p>Unlimited users</p>
            </div>
        </div>
        <div class="packagePriceContainer">
            <h1 class="packagePrice">Plus</h1>
            <h2 class="packagePrice">$100 USD<span class="packageMonth">/MONTH</span></h2>
            <hr style="border:1px solid black;">
            <button class="packagePriceButton">Get Started</button>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>One project</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Your dashboard</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Components included</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Advanced controls</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Chat support</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Unlimited users</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Guaranteed 100%</p>
            </div>
        </div>
        <div class="packagePriceContainer">
            <h1 class="packagePrice">Enterprise</h1>
            <h2 class="packagePrice">$- USD<span class="packageMonth">/MONTH</span></h2>
            <hr style="border:1px solid black;">
            <button class="packagePriceButton">Get Started</button>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>One project</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Your dashboard</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Components included</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Advanced controls</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Chat support</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Unlimited users</p>
            </div>
            <div class="packagePerk">
                <img class="yellowCheckMark" src="{{url_for('static', filename='digitalbrandweb/yellowCheckMark.png')}}">
                <p>Guaranteed 100%</p>
            </div>
        </div>
    </section>
    <section class="readyMainContainer">
        <div class="readyContainer">
            <h1 class="readyTitle">Have a digital brand ready?</h1>
            <div class="buttonsContainer">
                <button class="getStartedButton">Get Started</button>
                <button class="contactUsButton">Contact Us</button>
            </div>
        </div>
    </section>
    <footer class="footerSections">
        <div class="footerSection">
            <h1 class="footerBrand">digitalbrand</h1>
            <p>
                1234 Cool Street
                United States
                US, USA 12345</p>
        </div>
        <div class="footerSection">
            <h1>Quick Links</h1>
            <a class="footerLink">Home</a>
            <a class="footerLink">About Us</a>
            <a class="footerLink">Amenities</a>
            <a class="footerLink">Pricing</a>
            <a class="footerLink">Contact</a>
        </div>
        <div class="footerSection">
            <h1>Important Links</h1>
            <a class="footerLink">Terms and Conditions</a>
            <a class="footerLink">Legal</a>
            <a class="footerLink">Business</a>
            <a class="footerLink">Partners</a>
        </div>
        <div class="footerSection">
            <h1>Let’s Connect!</h1>
            <p>Connect with entrepreneurs, build your network, make great business.</p>
            <div>
                <img class="connectMediaImage" src="{{url_for('static', filename='digitalbrandweb/facebook.png')}}">
                <img class="connectMediaImage" src="{{url_for('static', filename='digitalbrandweb/instagram.png')}}">
                <img class="connectMediaImage" src="{{url_for('static', filename='digitalbrandweb/linkedin.png')}}">
            </div>
        </div>
    </footer>
    <div class="copyRight">
        <p>Copyright © 2023 digitalbrand</p>
        <p>Powered by digitalbrand</p>
    </div>
</body>
</html>