<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='vnLogo.jpg')}}">
    <!--google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victor Nguyen</title>
</head>
<body>
    <div class="heroSection">
        <nav class="navLinks">
            <span class="navSectionLinks">
                <a href="https://www.linkedin.com/in/victor-n-684486266/"><img class="social_icon" src="{{url_for('static', filename='linkedin.png')}}"/></a>
                <a href="https://github.com/ghorus"><img class="social_icon" src="{{url_for('static', filename='github.png')}}"/></a>
                <a href="https://www.instagram.com/seoulcaliii/"><img class="social_icon" src="{{url_for('static', filename='instagram.png')}}"/></a>
                <a onClick="document.querySelector('.heroSection').scrollIntoView({ behavior: 'smooth'});">Home</a>
                <a onClick="document.querySelector('.exp_section').scrollIntoView({ behavior: 'smooth'});">Experience</a>
                <a onClick="document.querySelector('.portfolioContainer').scrollIntoView({ behavior: 'smooth'});">Portfolio</a>
                <a onClick="document.querySelector('.aboutMainContainer').scrollIntoView({ behavior: 'smooth'});">About</a>
        </span>
       </nav>
       <div class="heroMainContainer">
           <section class="heroTextsContainer">
               <div class="heroTexts">
                   <p class="heroText">Hi, I'm</p>
                   <p class="heroTextEmphasize">Victor <span class="lastNameText">Nguyen</span></p>
                   <p class="heroText">a web developer.</p>
               </div>
               <!-- <button class="hireButton" onClick="document.querySelector('.getInTouchContainer').scrollIntoView({ behavior: 'smooth'});">Hire Me</button> -->
               <a class="viewPortfolioLink" onClick="document.querySelector('.portfolioContainer').scrollIntoView({ behavior: 'smooth'});">View My Portfolio</a>
           </section>
           <section class="meContainer">
                <div class="mePerksContainer">
                    <p>DETAIL-ORIENTED</p>
                    <p>RESPONSIVE DESIGNS</p>
                    <p>TEAM PLAYER</p>
                </div>
                <img class="professionalPicture" src="{{url_for('static', filename='me.jpg')}}">
           </section>
       </div>
    </div>
    <section class="languageLogosContainer">
        <img class="languageLogos" src="{{url_for('static', filename='flask_logo.png')}}">
        <img class="languageLogos" src="{{url_for('static', filename='css_logo.png')}}">
        <img class="languageLogos" src="{{url_for('static', filename='git_logo.png')}}">
        <img class="languageLogos" src="{{url_for('static', filename='html_logo.png')}}">
        <img class="languageLogos" src="{{url_for('static', filename='js_logo.png')}}">
        <img class="languageLogos" src="{{url_for('static', filename='postgresql.png')}}">
        <img class="languageLogos" src="{{url_for('static', filename='python_logo.png')}}">
        <img class="languageLogos" src="{{url_for('static', filename='react_logo.png')}}">
    </section>
    <section class="expertise_sections"></section>
        <div class="expertise_section">
            <h3 class="header">Services</h3>
            <div class="skills">
                <button class="blue_button">Full Stack Web Development</button>
                <button class="blue_button">Software Applications</button>
                <button class="blue_button">Web Design</button>
                <button class="blue_button">Web Hosting</button>
            </div>
        </div>
        <div class="expertise_section">
            <h3 class="header">Features</h3>
            <div class="skills">
                <button class="blue_button">Web Sockets</button>
                <button class="blue_button">Database Management</button>
                <button class="blue_button">Automation Testing</button>
                <button class="blue_button">Version Control</button>
                <button class="blue_button">User Authorization</button>
                <button class="blue_button">Landing Page</button>
                <button class="blue_button">Responsive, Accessible Web Applications</button>
                <button class="blue_button">Clear Documentation</button>
                <button class="blue_button">Scalable, High Performing Software</button>
            </div>
        </div>
        <div class="expertise_section">
            <h3 class="header">Soft Skills</h3>
            <div class="skills">
                <button class="blue_button">Oral & Written Communication</button>
                <button class="blue_button">Problem Solving</button>
            </div>
        </div>
    </section>
    <section class="exp_section">
        <div class="exp_container">
            <div>
                <h3 class="header">Data Annotation</h3>
                <h4 class="italics">AI Coding Trainer</h4>
                <div>12/2023 – Present</div>
            </div>
            <div>
                <ul class="exp_list">
                    <li>Overviewed coding prompts to train AI, focusing on writing structure, organization, coherence, overall 
                        writing quality, code correctness, and conciseness.</li>
                    <li>Assessed highly customized coding prompts tailored to AI’s learning needs, ensuring alignment with 
                        project objectives and desired outcomes.</li>
                    <li>Collaborated with AI developers to specify on coding prompt methodologies, incorporating analytical insights 
                        to enhance AI learning outcomes.</li>
                    <li>Analyzed coding prompts that spanned over many technologies, like Golang, Vue.js, PHP, React, Laravel, Flask, SQL, 
                        PostgreSQL, Python, Java, C++, C+, Kotlin, Lua, Unity, git, yarn, npm, node.js, bash, React Native, Android Studio, 
                        JSON, YAML, Google Developer tools, Google extensions, Figma plugins, APIs, Jira, and Microsoft Excel</li>
                    <li>Adhered to detailed documentation to ensure AI models received quality data, all within tight deadlines.</li>
                    <li>Monitored and annotated AI-generated coding errors, enhanced coding standards, identified AI response trends, and researched 
                        and analyzed coding solutions for proper data feeding to AI.</li>
                    <li> Resolved bugs for code blocks that spanned over various areas such as automation testing, web scraping, data queries, data 
                        visualization, API data fetching, audio-to-text transcriptions, UI creation, web design principles, website responsiveness and 
                        accessibility, database management, mobile applications, games, 3D animation, CSV and PDF file creation, caching, and full-stack web applications 
                        with user authentication and Web Sockets.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="portfolioContainer">
        <h1>Portfolio</h1>
        <div class="projects">
            <a href="{{url_for('game')}}">
                <div class="project">
                    <div class="projectInfo">
                        <h2>"All Downhill From Here" Video Game</h2>
                        <div>
                            <button class="blue_button">Pygame</button>
                        </div>
                        <p>A website about a completed 2D-shooter game I personally developed where I formulated the story, characters, dialogues, game mechanics, and more. (Personal Project)
                    </div>
                    <img class="projectImage" src="{{url_for('static', filename='website_game.png')}}">
                </div>
            </a>
            <a href="https://one-word-story-game.onrender.com/">
                <div class="project">
                    <div class="projectInfo">
                        <h2>Full-Stack: One Word Story Collaboration</h2>
                        <div>
                            <button class="blue_button">Flask</button>
                            <button class="blue_button">WebSockets</button>
                            <button class="blue_button">User Authentication</button>
                        </div>
                        <p>Created an interactive game allowing users to collaboratively 
                            build stories one word at a time using Web sockets for real-time communication. (Personal Project, Currently on Free Plan(Long Loading Time))
                    </div>
                    <img class="projectImage" src="{{url_for('static', filename='website_wws.png')}}">
                </div>
            </a>
            <a href="https://ghorus.github.io/skew-page/">
                <div class="project">
                    <div class="projectInfo">
                        <h2>Canva App: Skew Page &lpar;In Progress&rpar;</h2>
                        <div>
                            <button class="blue_button">React</button>
                            <button class="blue_button">Three.js</button>
                            <button class="blue_button">Canva.com</button>
                            <button class="blue_button">Canva SDK</button>
                        </div>
                        <p>Created an app for the Canva website that 3D rotates a page design using Three.js. (Personal Project)
                    </div>
                    <img class="projectImage" src="{{url_for('static', filename='skew_page.png')}}">
                </div>
            </a>
            <a href="{{url_for('restaurant')}}">
                <div class="project">
                    <div class="projectInfo">
                        <h2>Front-End: Vallier Bistro</h2>
                        <div>
                        <button class="blue_button">Flask</button>
                        <button class="blue_button">Google Maps API</button>
                        <button class="blue_button">Responsive Design</button>
                        <button class="blue_button">Food Menu Navigation</button>
                        </div>
                        <p>A landing page of vallierbistro.com's website. (Personal Project)</p>
                    </div>
                    <img class="projectImage" src="{{url_for('static', filename='website_restaurant.png')}}">
                </div>
            </a>
            <a href="{{url_for('digitalbrand')}}">
                <div class="project">
                    <div class="projectInfo">
                        <h2>Front-End: Digital Branding</h2>
                        <p>The landing page for a digital branding website. (Personal Project)</p>
                    </div>
                    <img class="projectImage" src="{{url_for('static', filename='website_digital.png')}}">
                </div>
            </a>
            <a href="{{url_for('podcast')}}">
                <div class="project">
                    <div class="projectInfo">
                        <h2>Front-End: Fictional Podcast Website</h2>
                        <p>The landing page for a podcast company website. (Personal Project)</p>
                    </div>
                    <img class="projectImage" src="{{url_for('static', filename='website_podcast.png')}}">
                </div>
            </a>
            <a href="{{url_for('healthcare')}}">
                <div class="project">
                    <div class="projectInfo">
                        <h2>Front-End: VN Health</h2>
                        <p>The landing page for a healthcare website. (Personal Project)</p>
                    </div>
                    <img class="projectImage" src="{{url_for('static', filename='website_healthcare.png')}}">
                </div>
            </a>
            <a href="{{url_for('swePackage')}}">
                <div class="project">
                    <div class="projectInfo">
                        <h2>Front-End: Coding Education Application</h2>
                        <p>The landing page for a educational website. (Personal Project)</p>
                    </div>
                    <img class="projectImage" src="{{url_for('static', filename='website_swePackage.png')}}">
                </div>
            </a>
        </div>
    </section>
    <section class="aboutMainContainer">
        <img class="aboutPicture" src="{{url_for('static', filename='Cham Temples.png')}}">
        <div class="aboutTextsContainer">
            <h1 class="aboutTitle">About Me</h1>
            <p class="aboutDescription">
                With my strong background in technology and college education, I’m confident that my skills will provide superior value in the commitment to operational excellence.
                My interest in technology began in 2021 when I met computer science college students. It sparked my self-studies in programming and eventually led to participating in a programming 
                hackathon in June 2023, where my group won a $5000 prize as funding for our software solution in reducing the rise of sexually transmitted diseases. 
                </p>
            <p class="aboutDescription">Building on that success, I secured contract work as an AI trainer in December 2023, applying my software programming skills to real-world practice. 
                Holistically, this role further strengthened my ability to monitor errors, maintain coding standards, identify trends, research and analyze solutions, identify and resolve problems, 
                adapt to diverse software ecosystems, and efficiently complete tasks assigned by management.</p>
            <p class="aboutDescription">Beyond my professional experience, I dedicate my personal time working on personal projects to expand my technical skills even further. Among my 48 projects, one of my most notable projects, is a React application that’s in process of being 
                published on a popular photo editing website called Canva.com. My projects span over diverse areas for software applications, such as automation testing, web scraping, full-stack web applications with user authentication and Web Sockets, performance monitoring, <a href="https://github.com/ghorus/mfals">data queries and analyses, database management</a>, <a href="https://github.com/ghorus/fetch_ex">mobile applications</a>, and games.</p>
                <p class="aboutDescription">In addition to my technical expertise, I bring important soft skills like oral and written communication, honed through my roles as a <a href="https://www.meetup.com/learn-coding-in-python-for-beginners/?eventOrigin=event_home_page">programming tutor</a>, Vietnamese speaker, <a href="https://www.youtube.com/watch?v=YV7J6hQVtzE&t=55s">YouTuber</a>, and previous positions at restaurants, fulfillment centers, 
                    retail. It would be my pleasure to work with you, as I'm dedicated to hard work, innovation, and providing superior value to customers. If you have any questions and would like to discuss my further qualifications, please feel free to contact me!</p>
            <p class="aboutDescription">P.S. I also love food, travel, badminton, and movies!</p>
            <section class="aboutDescriptionContainer">
                <div>
                    <h3 class="aboutTitle">Name</h3>
                    <p class="aboutDescription">Victor Nguyen</p>
                </div>
                <div>
                    <h3 class="aboutTitle">Education</h3>
                    <p class="aboutDescription">University of California, Riverside</p>
                </div>
                <div>
                    <h3 class="aboutTitle">Email</h3>
                    <p class="aboutDescription">nguyen.victor4@gmail.com</p>
                </div>
                <div>
                    <h3 class="aboutTitle">Employment</h3>
                    <p class="aboutDescription">Open for work</p>
                </div>
            </section>
        </div>
    </section>
    <hr>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>