<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='restaurant.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='restaurantweb/logo2.png')}}">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Vailler Bistro</title>
</head>
<body>
    <nav>
        <img class="logoImage" src="{{url_for('static', filename='restaurantweb/logo.png')}}">
        <div class="links">
            <a class="link">MENUS</a>
            <a class="link">ABOUT US</a>
            <a class="link">GALLERY</a>
            <a class="link">BOOK ONLINE</a>
            <a class="link">CONTACT</a>
        </div>
        <div class="socialContainer">
            <img class="socialImage" src="{{url_for('static', filename='restaurantweb/socialMedia1.png')}}">
            <img class="socialImage" src="{{url_for('static', filename='restaurantweb/socialMedia2.png')}}">
        </div>
        <p class="address">425, rue McGill, Vieux-Montréal,
            Québec, H2Y 2H1</p>
        <p class="phone">514.842.2905</p>
        <button class="bookOnlineBtn">
            BOOK ONLINE
            <span class="bookBorder1"></span>
            <span class="bookBorder2"></span>
            <span class="bookBorder3"></span>
            <span class="bookBorder4"></span>
        </button>
    </nav>
    <section class="foodHero">
        <img class="foodImage" src="{{url_for('static', filename='restaurantweb/food1.jpg')}}">
        <div class="foodText">
            <h1 class="foodTitle">Vallier Bistro</h1>
            <h1 class="foodSubtitle">Open from Tuesday to Saturday</h1>
        </div>
        <div class="squares">
            <div class="square sqr1" onclick="sqr1()">
                <div class="innerSquare"></div>
            </div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
    </section>
    <!-- <section class="food2"></section> -->
   
   


    <!-- <div id="google_translate_element" style="height:50px;"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
    <script>
        //hero parallax//
        window.addEventListener("scroll",function(){
            var target = document.querySelector(".foodImage")
            var scrolled = window.pageYOffset
            var rate = scrolled * 0.5;
            target.style.transform = 'translate3d(0px,'+rate+'px,0px)';

        })
        const square1 = document.querySelector(".sqr1")
        function sqr1(){
         
        }
        
    </script>
</body>
</html>