<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='restaurant.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='restaurantweb/logo2.png')}}">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Vailler Bistro</title>
</head>
<body>
    <div class="navig">
        <img class="logoImage" src="{{url_for('static', filename='restaurantweb/logo.png')}}">
        <div class="links">
            <a class="link" onClick="document.querySelector('.menuContainer').scrollIntoView({ behavior: 'smooth'});">MENUS</a>
            <a class="link" onClick="document.querySelector('.fud1').scrollIntoView({ behavior: 'smooth'});">ABOUT US</a>
            <a class="link" onClick="document.querySelector('.fud2').scrollIntoView({ behavior: 'smooth'});">GALLERY</a>
            <a class="link">BOOK ONLINE</a>
            <a class="link" onClick="document.querySelector('footer').scrollIntoView({ behavior: 'smooth'});">CONTACT</a></div>
        <div class="socialContainer">
            <img class="socialImage" src="{{url_for('static', filename='restaurantweb/socialMedia1.png')}}">
            <img class="socialImage" src="{{url_for('static', filename='restaurantweb/socialMedia2.png')}}">
        </div>
        <p class="address">425, rue McGill, Vieux-Montréal, Québec, H2Y 2H1</p>
        <p class="phone">514.842.2905</p>
        <button class="bookOnlineBtn">BOOK ONLINE<span class="bookBorder1"></span><span class="bookBorder2"></span><span class="bookBorder3"></span><span class="bookBorder4"></span></button>
    </div>
    <section class="menuNav">
        <p class="menuNavItem drink" id="TO DRINK">TO DRINK</p>
        <p  class="menuNavItem dessert" id="DESSERT">DESSERT</p>
        <p  class="menuNavItem bistroMenu" id="BISTRO MENU">BISTRO MENU</p>
    </section>
    <section class="foodHero">
        <img class="foodImage food1" src="{{url_for('static', filename='restaurantweb/food1.jpg')}}">
        <div class="foodText"><h1 class="foodTitle">Vallier Bistro</h1><h1 class="foodSubtitle">Open from Tuesday to Saturday</h1></div>
        <div class="squares">
            <div class="square sqr1" id="1"><div class="inrSqr innerSquare1" id="1"></div></div>
            <div class="square sqr2" id="2"><div class="inrSqr innerSquare2" id="2"></div></div>
            <div class="square sqr3" id="3"><div class="inrSqr innerSquare3" id="3"></div></div>
            <div class="square sqr4" id="4"><div class="inrSqr innerSquare4" id="4"></div></div>
        </div>
        <div class="followContainer">
            <div class="followImageContainer"><img class="followImage" src="{{url_for('static', filename='restaurantweb/x.png')}}"></div>
            <div class="followTexts"><h3 class="followText">FOLLOW US ON SOCIAL MEDIA</h3><h3 class="followRightArrow">&rarr;</h3></div>
        </div>
    </section>
    <section class="menuContainer">
        <h1 class="menuTitle">BISTRO MENU</h1>
        <h3 class="menuSubtitle">AT TABLE</h3>
        <section class="menuItems">
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">SOUP OF THE DAY</p><p class="menuPrice">9</p></div>
                <p class="menuDescription"></p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">ONION SOUP</p><p class="menuPrice">16</p></div>
                <p class="menuDescription">Chicken broth and white wine, gruyere</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">BRUSSELS CESAR</p><p class="menuPrice">16</p></div>
                <p class="menuDescription">Roasted Brussels sprouts, romaine, parmesan, croutons, bacon, marinated shallots 
                    extra pulled duck +6</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">FRIED SQUID</p><p class="menuPrice">21 (EVENING MENU)</p></div>
                <p class="menuDescription">Napa cabbage & Gochujang stir-fry with hoisin sauce</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">POUTINE</p><p class="menuPrice">18</p></div>
                <p class="menuDescription">+ extra pulled duck $6</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">MUSHROOM CANOPY</p><p class="menuPrice">23 (EVENING MENU)</p></div>
                <p class="menuDescription">Country bread, mushrooms sautéed in white wine, cream and marinated osions</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">HALOUMI ST-VALLIER</p><p class="menuPrice">24 (EVENING MENU)</p></div>
                <p class="menuDescription">Green salad, barley, radicchio, clementine, green apple, pumpkin seeds, honey and carmine vinegar</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">MAC & CHEESE</p><p class="menuPrice">24</p></div>
                <p class="menuDescription">Three cheese sauce, chili crumble + extra bacon $4</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">BEEF BURGER</p><p class="menuPrice">26 (VEGETABLE OPTION 24)</p></div>
                <p class="menuDescription">Cheddar, tomatoes, arugula, pickle and dijonnaise</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">MUSSELS AND FRIES</p><p class="menuPrice">28</p></div>
                <p class="menuDescription">Seasonal sauce and fresh herbs</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">MUSHROOM RISOTTO</p><p class="menuPrice">28</p></div>
                <p class="menuDescription">Wild mushroom base & white wine, sautéed mushrooms, truffle oil, extra shredded duck parmesan +6</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">WARM SALAD</p><p class="menuPrice">29</p></div>
                <p class="menuDescription">Seasonal vegetables, quinoa, parmesan, bacon, poached egg</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">SALMON TARTAR 60G/120G</p><p class="menuPrice">18/32</p></div>
                <p class="menuDescription">Dill emulsion, cucumbers, shallots</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">CLASSIC BEEF TARTAR 60G/120GD</p><p class="menuPrice">18/32</p></div>
                <p class="menuDescription">Classic sauce, shallots, chives and mustard caviar</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">FISH OF THE MOMENT</p><p class="menuPrice">ASK</p></div>
                <p class="menuDescription"></p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">BEEF FLAVOR 200G</p><p class="menuPrice">18/32</p></div>
                <p class="menuDescription">Classic sauce, shallots, chives and mustard caviar</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">CLASSIC BEEF TARTAR 60G/120GD</p><p class="menuPrice">35</p></div>
                <p class="menuDescription">Compound butter, fries, extra sautéed vegetables +5</p>
            </div>
            <div class="menuItemContainer">
                <div class="menuItemPrice"><p class="menuItem">BRAISED BEEF CHEEK</p><p class="menuPrice">39 (EVENING MENU)</p></div>
                <p class="menuDescription">Red wine sauce, mashed potatoes and Nantes carrots</p>
            </div>
        </section>
    </section>
    <section class="fud1">
        <div class="fudPic1Container">
            <img class="fudPic1bgPic" src="{{url_for('static', filename='restaurantweb/logo2.png')}}">
            <img class="fudPic1" src="{{url_for('static', filename='restaurantweb/food5.jpg')}}">
        </div>
        <div class="fudTexts">
            <p class="fudParagraph1">Want a generous salad or a “reasonable” poutine, a good glass of wine or a real coffee… when it’s good, there’s 
                no need to justify it.</p>
            <img class="fudParagraph1Pic" src="{{url_for('static', filename='restaurantweb/logo2.png')}}">
        </div>
    </section>
    <section class="fud2">
        <div class="traditionPicContainer">
            <img class="traditionPic" src="{{url_for('static', filename='restaurantweb/wishboneGif.gif')}}">
            <p class="tradition">Our best traditions bring luck,
                but also pleasure and good taste!</p>
        </div>
        <div class="traditionPic2Container">
            <img class="traditionPic2" src="{{url_for('static', filename='restaurantweb/restaurant1.jpg')}}">
            <p class="tradition">Inspired by local cuisine and Montrealers' favorite dishes, Vallier's chefs 
                know how to evoke good memories with comforting and seasonal dishes.</p>
        </div>
    </section>
    <section class="fud3">
        <div class="fud3PicContainer">
            <img class="fud3Pic" src="{{url_for('static', filename='restaurantweb/restaurant3.jpg')}}">
            <p>“Vallier? Like the restaurant on McGill?"" This is the question of the hour for Vallier Dufour. 
                Fun fact: the bistro takes its name from the Montreal restaurateur who, with his partners, 
                imagined a dynamic and warm space where he could entertain like at home.</p>
        </div>
        <div class="fud3Pic2Container">
            <img class="fud3Pic2" src="{{url_for('static', filename='restaurantweb/restaurant4.jpg')}}">
        </div>
    </section>
    <section class="fud4">
        <img class="fud4Pic" src="{{url_for('static', filename='restaurantweb/restaurant5.jpeg')}}">
        <div class="fud4Pic2Container">
            <div class="fud4Pics">
                <img class="fud4Pic2" src="{{url_for('static', filename='restaurantweb/burger1.png')}}">
                <img class="fud4Pic2" src="{{url_for('static', filename='restaurantweb/burger2.png')}}">
                <img class="fud4Pic2" src="{{url_for('static', filename='restaurantweb/burger3.png')}}">
                <img class="fud4Pic2" src="{{url_for('static', filename='restaurantweb/burger4.png')}}">
                <img class="fud4Pic2" src="{{url_for('static', filename='restaurantweb/burger5.png')}}">
                <img class="fud4Pic2" src="{{url_for('static', filename='restaurantweb/burger6.png')}}">
                <img class="fud4Pic2" src="{{url_for('static', filename='restaurantweb/burger7.png')}}">
            </div>
        </div>
    </section>
    <footer>
        <div class="footerTextsContainer">
            <div class="footerTexts">
                <p>FIND US</p>
                <p>425, rue McGill, Old Montreal, Quebec, H2Y 2H1</p>
                <button class="footerButton">OPEN IN GOOGLE MAP<img class="footerButtonImage" src="{{url_for('static', filename='restaurantweb/logo2.png')}}"></button>
                <hr>
            </div>
            <div class="footerTexts">
                <p>OUR OPENING HOURS</p>
                <p>Monday from 11:30 a.m. to 3 p.m.</p>
                <p>Tuesday & Wednesday from 11:30 a.m. to 9 p.m.</p>
                <p>Thursday Friday Saturday from 11:30 a.m. to 10 p.m</p>
                <hr>
            </div>
            <div class="footerTexts">
                <p>RESERVATIONS</p>
                <p>514.842.2905 or Reserve online here</p>
                <p>For any other information info@vallierbistro.com</p>
            </div>
        </div>
        <div class="footerMap">
            <iframe class="footerMapiframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.4669125147307!2d-73.56047922333428!3d45.50067873100357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a593d9b3d09%3A0xdb03f869002bc67a!2s425%20McGill%20St%2C%20Montreal%2C%20QC%20H2Y%202H1%2C%20Canada!5e0!3m2!1sen!2sus!4v1701128654480!5m2!1sen!2sus" 
         style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>
    <!-- <div id="google_translate_element" style="height:50px;"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
        <!-- <iframe style="margin:300px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13227.011982929269!2d-117.79597095!3d34.02455069999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c32d9e633c4231%3A0x84ad7ad2067ccc6!2sBasil%20And%20Co!5e0!3m2!1sen!2sus!4v1701120423617!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    <script src="{{url_for('static', filename='restaurantweb/restaurant.js')}}"></script>
    <script>
        //fudPic click image change//
        var fudPic1 = document.querySelector(".fudPic1")
        var fudPic1Container = document.querySelector(".fudPic1Container")
        fudPic1Container.addEventListener("click",function(){
            fudPic1.style.opacity = "0"
            setTimeout(()=>{
                if(fudPic1.src.substring(fudPic1.src.length-9,fudPic1.src.length)=="food5.jpg")
                {fudPic1.src="{{url_for('static', filename='restaurantweb/food6.jpg')}}"}
                else if(fudPic1.src.substring(fudPic1.src.length-9,fudPic1.src.length)=="food6.jpg")
                {fudPic1.src="{{url_for('static', filename='restaurantweb/food7.jpg')}}"}
                else if(fudPic1.src.substring(fudPic1.src.length-9,fudPic1.src.length)=="food7.jpg")
                {fudPic1.src="{{url_for('static', filename='restaurantweb/food5.jpg')}}"}
                fudPic1.style.opacity="1";
            },700)
        })
        var traditionPic2 = document.querySelector(".traditionPic2")
        traditionPic2.addEventListener("click",function(){
            traditionPic2.style.opacity = "0"
            setTimeout(function(){
                if(traditionPic2.src.substring(traditionPic2.src.length-15,traditionPic2.src.length)=="restaurant1.jpg"){
                    traditionPic2.src = "{{url_for('static', filename='restaurantweb/restaurant2.jpg')}}"}
                    else{traditionPic2.src = "{{url_for('static', filename='restaurantweb/restaurant1.jpg')}}"}
                    traditionPic2.style.opacity="1"
                },700)
            
        })

        //squares//
        const squares = document.getElementsByClassName("square")
        const foodHero = document.querySelector(".foodHero")
        const foodImages = document.getElementsByClassName("foodImage")
        const innerSquares = document.getElementsByClassName("inrSqr")
        var currentInnerSquare = ""
        Array.from(squares).forEach(square => {
            square.addEventListener('click',(e)=>{
                if(square.className =="square sqr1" && currentInnerSquare != square.className){
                    const img1 = document.createElement("img")
                    foodHero.appendChild(img1)
                    img1.src = "{{url_for('static', filename='restaurantweb/food2.jpg')}}"
                    img1.classList.add("foodImage")
                    img1.style.animation = "comeFromLeft 5s"
                    currentInnerSquare = e.target.className
                    //add text//
                    const ogFoodText = document.querySelector(".foodText")
                    ogFoodText.remove()
                    const newFoodText = document.createElement("div")
                    newFoodText.classList.add("foodText")
                    const newFoodTitle = document.createElement("h1")
                    newFoodTitle.classList.add("foodTitle")
                    newFoodTitle.innerHTML += "Dinners that mean business"
                    newFoodText.appendChild(newFoodTitle)
                    foodHero.appendChild(newFoodText)
                    //end text add//
                    if(foodImages.length>3){
                        foodImages[2].style.height = foodImages[2].getBoundingClientRect().height
                        foodImages[2].style.width = foodImages[2].getBoundingClientRect().width
                        foodImages[0].remove()}}
                else if(square.className =="square sqr2" && currentInnerSquare != square.className){
                    const img1 = document.createElement("img")
                    foodHero.appendChild(img1)
                    img1.src = "{{url_for('static', filename='restaurantweb/food3.jpg')}}"
                    img1.classList.add("foodImage")
                    img1.style.animation = "comeFromLeft 5s"
                    currentInnerSquare = e.target.className
                    //add text//
                    const ogFoodText = document.querySelector(".foodText")
                    ogFoodText.remove()
                    const newFoodText = document.createElement("div")
                    newFoodText.classList.add("foodText")
                    const newFoodTitle = document.createElement("h1")
                    newFoodTitle.classList.add("foodTitle")
                    newFoodTitle.innerHTML += "Out with the old"
                    newFoodText.appendChild(newFoodTitle)
                    foodHero.appendChild(newFoodText)
                    //end text add//
                    if(foodImages.length>3){
                        foodImages[2].style.height = foodImages[2].getBoundingClientRect().height
                        foodImages[2].style.width = foodImages[2].getBoundingClientRect().width
                        foodImages[0].remove()}}
                else if(square.className =="square sqr3" && currentInnerSquare != square.className){
                    const img1 = document.createElement("img")
                    foodHero.appendChild(img1)
                    img1.src = "{{url_for('static', filename='restaurantweb/food4.jpg')}}"
                    img1.classList.add("foodImage")
                    img1.style.animation = "comeFromLeft 5s"
                    currentInnerSquare = e.target.className
                    //add text//
                    const ogFoodText = document.querySelector(".foodText")
                    ogFoodText.remove()
                    const newFoodText = document.createElement("div")
                    newFoodText.classList.add("foodText")
                    const newFoodTitle = document.createElement("h1")
                    newFoodTitle.classList.add("foodTitle")
                    newFoodText.appendChild(newFoodTitle)
                    foodHero.appendChild(newFoodText)
                    //end text add//
                    if(foodImages.length>3){
                        foodImages[2].style.height = foodImages[2].getBoundingClientRect().height
                        foodImages[2].style.width = foodImages[2].getBoundingClientRect().width
                        foodImages[0].remove()}}
                else if(square.className =="square sqr4" && currentInnerSquare != square.className){
                    const img1 = document.createElement("img")
                    foodHero.appendChild(img1)
                    img1.src = "{{url_for('static', filename='restaurantweb/food1.jpg')}}"
                    img1.classList.add("foodImage")
                    img1.style.animation = "comeFromLeft 5s"
                    currentInnerSquare = e.target.className
                    //add text//
                    const ogFoodText = document.querySelector(".foodText")
                    ogFoodText.remove()
                    const newFoodText = document.createElement("div")
                    newFoodText.classList.add("foodText")
                    const newFoodTitle = document.createElement("h1")
                    newFoodTitle.classList.add("foodTitle")
                    newFoodTitle.innerHTML += "Vallier Bistro"
                    const newSubtitle = document.createElement("h1")
                    newSubtitle.classList.add("foodSubtitle")
                    newSubtitle.innerHTML += "Open from Tuesday to Saturday"
                    newFoodText.appendChild(newFoodTitle)
                    newFoodText.appendChild(newSubtitle)
                    foodHero.appendChild(newFoodText)
                    //end text add//
                    if(foodImages.length>3){
                        foodImages[2].style.height = foodImages[2].getBoundingClientRect().height
                        foodImages[2].style.width = foodImages[2].getBoundingClientRect().width
                        foodImages[0].remove()} }
                for(innerSquare in innerSquares){
                    if(innerSquares[innerSquare].id==e.target.id){innerSquares[innerSquare].style.scale = "1"}
                    else{innerSquares[innerSquare].style.scale="0"}}})})
    </script>
</body>
</html>